/* ===== CONTENEDOR GENERAL ===== */
.perfil-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-x: hidden;
  animation: fadeIn 0.4s ease;
}


/* ===== TÍTULO ===== */
.perfil-titulo {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #0f172a;
  letter-spacing: 1px;
}

/* ===== BOTONES SUPERIORES ===== */
.perfil-botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 35px;
}

.btn-editar,
.btn-eliminar {
  padding: 12px 25px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
  color: white;
}

.btn-editar {
  background-color: #b89b2c; /* dorado */
  box-shadow: 0 4px 12px rgba(184, 155, 44, 0.4);
}

.btn-editar:hover {
  background-color: #8e7420; /* dorado oscuro */
}

/* Rojo para eliminar */
.btn-eliminar {
  background-color: #dc2626;
  box-shadow: 0 4px 12px rgba(220, 38, 38, 0.4);
}

.btn-eliminar:hover {
  background-color: #b91c1c;
}

/* ===== TARJETAS ===== */
.perfil-card {
  background: #ffffff;
  width: 600px;   /* o el ancho que uses en la primera card */
  min-height: 350px; /* para que no cambie si el contenido es menor */
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 35px;
  animation: slideUp 0.4s ease;
  border-top: 4px solid #b89b2c;
  justify-content: center; /* línea dorada arriba */
  text-align: center ;
}

.perfil-card h3 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #0f172a;
}

.perfil-card p {
  margin: 10px 0;
  font-size: 1rem;
  color: #0f172a;
}

/* ===== NÚMEROS COMPRADOS ===== */
.numeros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 12px;
  margin-top: 20px;
}

.numero-item {
  background-color: #b89b2c; /* dorado */
  color: white;
  padding: 12px 0;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(184, 155, 44, 0.4);
  transition: 0.2s ease;
}

.numero-item:hover {
  background-color: #8e7420;
  transform: scale(1.07);
}

.no-numeros {
  color: #475569;
  font-style: italic;
  margin-top: 10px;
}

/* ===== ESTADOS ===== */
.perfil-cargando,
.perfil-error {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}

/* ===== ANIMACIONES ===== */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
