/* Contenedor principal */
.register-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  padding: 20px;
}

/* Tarjeta */
.register-card {
  width: 420px;
  padding: 35px;
  border-radius: 18px;
  border: 1px solid #0000004a;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.332);
  border: 1px solid #e5e5e5;
}

.register-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 25px rgba(200, 168, 81, 0.879);
}

/* Título */
.register-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #111;
  font-weight: 700;
}

/* Formulario */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Campos */
.register-field {
  display: flex;
  flex-direction: column;
}

.register-field label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
}

.register-field input,
.register-field select {
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid #d4d4d4;
  background: #fff;
  font-size: 15px;
  transition: 0.3s ease;
  color: #000;
}

.register-field input:focus,
.register-field select:focus {
  border-color: #d4af37;
  box-shadow: 0 0 6px #d4af3744;
  outline: none;
}

/* Botón */
.register-button {
  padding: 12px;
  background-color: #d4af37;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.25s ease;
}

.register-button:hover {
  background-color: #c09b2f;
  transform: translateY(-2px);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  background: #fafafa;
}

.select-visible {
  background-color: #ffffff;
  color: #777; /* o el fondo que usas */
 /* texto claro */
}

.select-visible option {
  background-color: #ffffff;
  color: #000000;
}
